@import '../../layout/colors/colors';

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    margin-top: 1rem;
    position: relative;



    span{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1.5rem;
        top: .5rem;
        width: 2rem;
        height: 2rem;
        color: $light-color !important;
        background-color: $dark-color;
        border-radius: 50%;

    }
    
    @each $key in map-keys($colors-map){
        $value:map-get($colors-map, $key);
        &.alert-#{$key}{
            box-shadow: 2px 4px 6px lighten($value,50%);
            background-color: lighten($value,30%);
            border: 2px solid darken($value, 20%);
            & > *{
                color: darken($value,20%);
                font-size: 1.2rem;
            }
        }

    }

}

.hide{
    display: none;
}