<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="tabs">
                    <div class="tabs-header">
                        <button class="tabs-button active" data-tab="tab1">tab 1</button>
                        <button class="tabs-button" data-tab="tab2">tab 2</button>
                        <button class="tabs-button" data-tab="tab3">tab 3</button>
                    </div>
                    <div class="tabs-content">
                        <div class="tabs-pannel active" id="tab1">
                            <p>this is tab 1</p>
                        </div>
                        <div class="tabs-pannel" id="tab2">
                            <p>this is tab 2</p>
                        </div>
                        <div class="tabs-pannel" id="tab3">
                            <p>this is tab 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../../../ui/js/components/tab.js"></script>
</body>
</html>