<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <h1>salam</h1>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-socials">
                <h3 class="footer-title">follow us</h3>
                <ul class="footer-socials-list">
                    <li class="footer-link"><a href="">facebook</a></li>
                    <li class="footer-link"><a href="">linkedin</a></li>
                    <li class="footer-link"><a href="">aparat</a></li>
                    <li class="footer-link"><a href="">rubica</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h3 class="footer-title">quick links</h3>
                <ul class="footer-links-list">
                    <li class="footer-link"><a href="">home</a></li>
                    <li class="footer-link"><a href="">about us</a></li>
                    <li class="footer-link"><a href="">contancts</a></li>
                </ul>
            </div>
            <div class="footer-contacts">
                <h3 class="footer-title">contact us</h3>
                <p class="footer-text">email : example@info.com</p>
                <p class="footer-text">phone : 021-00000000</p>
            </div>
        </div>
    </footer>
</body>
</html>