<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <button class="button btn-brand-color btn-md" id="showModal">show modal</button>
    <div class="modal-overlay">
        <div class="modal">
            <button class="modal-close">close</button>
            <div class="modal-body">
            <h1 class="text text-brand-color h1">This is a Modal</h1>
            <p>Modal is a pattern ...</p>
        </div>
        </div>
    </div>

    <script src="../../../ui/js/components/modals.js"></script>
</body>
</html>