<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../ui/css/main.css" />
  </head>
  <body>
    <button class="button btn-brand-color btn-xxs">click</button>
    <button class="button btn-support-color btn-xs">click</button>
    <button class="button btn-accent-color btn-sm">click</button>
    <button class="button btn-info-color btn-md">click</button>
    <button class="button btn-error-color btn-lg">click</button>
    <button class="button btn-success-color btn-xl">click</button>
    <button class="button btn-outline-dark-color btn-xxl border-size-2px border-dotted border-dark-color border-radius-hard">click</button>
  </body>
</html>
