<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="column column-xxl-12 column-xl-12 column-lg-12 column-md-12 column-sm-12 column-xs-12 column-xxs-12">
                <div class="banner banner-vertical border ">
                    <img class="banner-image" src="https://www.tahlildadeh.com/Files/PageInfo/UIUX-Ad-Desktop2024-08-20-10-15-50.webp" alt="">
                    <div class="banner-content">
                        <h1 class="banner-title">عنوان بنر</h1>
                        <p class="banner-text">آموزشگاه تحلیل داده یکی از قدیمی ترین آموزشگاه های برنامه نویسی ایران با بیش از 21 سال سابقه </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>