<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <!-- <label class="checkbox">
        <input type="checkbox">
        <span></span>
    </label> -->
    <!-- <div class="radio-button">
        <input type="radio" id="option1" name="toggle" checked>
        <label for="option1">radio 1</label>

        <input type="radio" id="option2" name="toggle">
        <label for="option2">radio 2</label>
    </div> -->
    <div class="switch">
        <input type="checkbox" id="toggle-switch">
        <label for="toggle-switch"></label>
    </div>

</body>
</html>