<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="column">
                <div class="accardion">
                    <div class="accardion-item">
                        <button class="accardion-header">section 1</button>
                        <div class="accardion-content">
                            <p>this is section 1</p>
                        </div>
                    </div>
                    <div class="accardion-item">
                        <button class="accardion-header">section 2</button>
                        <div class="accardion-content">
                            <p>this is section 2</p>
                        </div>
                    </div>
                    <div class="accardion-item">
                        <button class="accardion-header">section 3</button>
                        <div class="accardion-content">
                            <p>this is section 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="../../../ui/js/components/accardion.js"></script>
</body>
</html>