<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <div class="container  border-radius-light">
        <div class="row">
            <div class="column">
                <table class="table table-width-1 table-xl table-left table-light-color table-striped-brand-color table-hover-warning-color">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>family</th>
                            <th>national code</th>
                            <th>gender</th>
                            <th>age</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>reza</td>
                            <td>rezaei</td>
                            <td>123</td>
                            <td>man</td>
                            <td>12</td>
                            <td>
                                <button class="button btn-error-color btn-xs  border-radius-light">test</button>
                            </td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>reza</td>
                            <td>rezaei</td>
                            <td>123</td>
                            <td>man</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>reza</td>
                            <td>rezaei</td>
                            <td>123</td>
                            <td>man</td>
                            <td>12</td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>reza</td>
                            <td>rezaei</td>
                            <td>123</td>
                            <td>man</td>
                            <td>12</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>