<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column column-xxl-12 column-xl-6 column-lg-12 column-md-8 column-sm-8 column-xs-10 column-xxs-12">
                <form>
                    <div class="form-section">
                        <label class="form-label form-label-brand-color">name</label>
                        <input type="text" class="form-input form-input-width-12 form-input-outline-brand-color">
                        <span class="form-span text text-error-color">this is some error</span>
                    </div>
                    <div class="form-section">
                        <label class="form-label">name</label>
                        <input type="checkbox" class="form-check form-check-error-color form-check-size-md">
                        <span class="form-span form-span-warning-color">this is some error</span>
                    </div>
                    <div class="form-section">
                        <label class="form-label">name</label>
                        <input type="radio" class="form-radio form-radio-brand-color form-radio-size-md">
                        <span class="form-span form-span-error-color">this is some error</span>
                    </div>

                    <div class="form-section">
                        <label class="form-label">name</label>
                        <textarea  name="" id="" class="form-textarea  form-textarea-width-12 form-textarea-outline-warning-color"></textarea>
                        <span class="form-span form-span-error-color">this is some error</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>