<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <nav class="breadcrumb" aria-label="breadcrumb">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="" class="breadcrumb-link">home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="" class="breadcrumb-link">category</a>
            </li>
            <li class="breadcrumb-item">
                <a href="" class="breadcrumb-link">mobile</a>
            </li>
            <li class="breadcrumb-item">
                <a href="" class="breadcrumb-current">iphone 12</a>
            </li>
        </ul>
    </nav>
</body>
</html>