<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/components/fonts/fonts.css">
</head>
<body>
    <p class="text text-align-left text-xs text-bold text-brand-color">salam</p>
    <p class="text text-sm text-align-right text-italic text-support-color">salam</p>
    <p class="text text-md text-align-center text-oblique text-accent-color">salam</p>
    <p class="text text-lg text-info-color">salam</p>
    <p class="text text-decoration-underline text-xl text-warning-color">salam</p>
    <p class="text text-ident-one text-decoration-overline text-success-color">salam</p>
    <p class="text text-ident-two text-error-color">salam</p>
    <p class="text text-ident-three text-dark-color">salam</p>
    <p class="text text-ident-four text-light-color">salam</p>
    <p class="text text-ident-five text-medium-color">salam</p>
</body>
</html>