<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/components/fonts/fonts.css">
    <link rel="stylesheet" href="../../../ui/css/components/fonts/tags.css">
</head>
<body>

    <a class="bold italic text text-warning-color" href="">salam</a>
    <p>this is p</p>
    <strong>this is strong</strong>
    <h1 class="text text-brand-color h6">salam</h1>
    <h2 class="text text-brand-color h5">salam</h2>
    <h3 class="text text-brand-color h4">salam</h3>
    <h4 class="text text-brand-color h3">salam</h4>
    <h5 class="text text-brand-color h2">salam</h5>
    <h6 class="italic text text-brand-color h1">salam</h6>

    <ul>
        <li>salam</li>
    </ul>

    <ol>
        <li>salam</li>
        <li>salam</li>
        <li>salam</li>
        <li>salam</li>
    </ol>

    <dl>
        <dt>salam</dt>
        <dd>hello</dd>
    </dl>


  
</body>
</html>