<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="column card-ease-30 column-xxs-12 column-xs-12 column-sm-12 column-md-6 column-lg-4 column-xl-3 column-xxl-2"
        >
          <div class="card rtl">
            <div class="card-vertical">
              <img
                class="card-vertical-image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
                alt=""
              />
              <div class="card-vertical-elements">
                <h4 class="card-vertical-title text text-brand-color h3">
                  سلام
                </h4>
                <p class="card-vertical-text">چطوری</p>
                <a class="card-vertical-link" href="">برو به</a>
                <button class="card-vertical-button">کلیک</button>
              </div>
            </div>
          </div>
        </div>
        <div
        class="column card-ease-30 column-xxs-12 column-xs-12 column-sm-12 column-md-6 column-lg-4 column-xl-3 column-xxl-2"
      >
        <div class="card rtl">
          <div class="card-vertical">
            <img
              class="card-vertical-image"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
              alt=""
            />
            <div class="card-vertical-elements">
              <h4 class="card-vertical-title text text-brand-color h3">
                سلام
              </h4>
              <p class="card-vertical-text">چطوری</p>
              <a class="card-vertical-link" href="">برو به</a>
              <button class="card-vertical-button">کلیک</button>
            </div>
          </div>
        </div>
      </div>
      <div
      class="column card-ease-30 column-xxs-12 column-xs-12 column-sm-12 column-md-6 column-lg-4 column-xl-3 column-xxl-2"
    >
      <div class="card rtl">
        <div class="card-vertical">
          <img
            class="card-vertical-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
            alt=""
          />
          <div class="card-vertical-elements">
            <h4 class="card-vertical-title text text-brand-color h3">
              سلام
            </h4>
            <p class="card-vertical-text">چطوری</p>
            <a class="card-vertical-link" href="">برو به</a>
            <button class="card-vertical-button">کلیک</button>
          </div>
        </div>
      </div>
    </div>
    <div
    class="column card-ease-30 column-xxs-12 column-xs-12 column-sm-12 column-md-6 column-lg-4 column-xl-3 column-xxl-2"
  >
    <div class="card rtl">
      <div class="card-vertical">
        <img
          class="card-vertical-image"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
          alt=""
        />
        <div class="card-vertical-elements">
          <h4 class="card-vertical-title text text-brand-color h3">
            سلام
          </h4>
          <p class="card-vertical-text">چطوری</p>
          <a class="card-vertical-link" href="">برو به</a>
          <button class="card-vertical-button">کلیک</button>
        </div>
      </div>
    </div>
  </div>
  <div
  class="column card-ease-30 column-xxs-12 column-xs-12 column-sm-12 column-md-6 column-lg-4 column-xl-3 column-xxl-2"
>
  <div class="card rtl">
    <div class="card-vertical">
      <img
        class="card-vertical-image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
        alt=""
      />
      <div class="card-vertical-elements">
        <h4 class="card-vertical-title text text-brand-color h3">
          سلام
        </h4>
        <p class="card-vertical-text">چطوری</p>
        <a class="card-vertical-link" href="">برو به</a>
        <button class="card-vertical-button">کلیک</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </body>
</html>
