<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../ui/css/main.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropdown-toggle">dropdown</button>
        <ul class="dropdown-menu">
            <li class="dropdown-item">option 1</li>
            <li class="dropdown-item">option 2</li>
            <li class="dropdown-item">option 3</li>
            <li class="dropdown-item">option 4</li>
        </ul>
    </div>

    <script src="../../../ui/js/components/dropdown.js"></script>
</body>
</html>