@import "../../layout/colors/colors";

.modal-overlay {
  display: none;
  flex-direction: column;
  background-color: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  transition: opacity .3s cubic-bezier(0.19, 1, 0.22, 1);

  &.active{
    display: flex;
    opacity: 1;
  }
  .modal {
    width: 60%;
    height: auto;
    background-color: lighten($dark-color, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    button{
        cursor: pointer;
    }
    &-close{
        border: none;
        background-color: lighten($dark-color, 60%);
        color: $error-color;
        font-size: 1rem;
        position: absolute;
        left: .5rem;
        top:.5rem;
    }
    &-body{
        padding: 4rem;
    }
  }
}
