@import '../../layout/colors/colors';
.loader{
    display: block;
    width: 50px !important;
    height: 50px !important;
    border: 10px solid $brand-color;
    border-top:5px solid $warning-color;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    @keyframes spin {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

}