@import '../colors/colors.scss';
p,pre{
    font-size: 1rem;
    color:$dark-color;
}

.p,.pre{
    font-size: 1rem;
    color: $dark-color;
}

h1,h2,h3,h4,h5,h6{
    color: $dark-color;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    color: $dark-color;
}

@for $item from 1 through 6{
    $h-size:3rem;
    h#{$item}{
        font-size:$h-size / $item + .25 ;
    }
    .h#{$item}{
        font-size:$h-size / $item + .25 !important;
    }
}


b,strong,i{
    color: $dark-color;
}
.b,.strong,.italic,.regular{
    color: $dark-color;
}

.regular{
    font-style: 500;
}

b,.bold{
    font-style: 700;
}

strong,.strong{
    font-weight: 900;
}

i,.italic{
    font-style: italic;
}

ul,.ul,ol,.ol{
    font-size: 1rem;
    color: $dark-color;
}

ul,.ul,ol,.ol > li{
    font-weight: 900;
}

dl,.dl{
    font-size: 1rem;
    color: $dark-color;
}

dl,.dl > dd,dt{
    font-weight: 900;
}

a,.a{
    font-size: 1rem;
    color:$info-color;
    text-decoration: none;
    cursor: pointer;
}