@import '../../layout/colors/colors';
.breadcrumb{
    padding: 1rem;
    font-size: 1rem;
    color: $support-color !important;
    background-color: lighten($brand-color, 60%);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-list{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &-item{
        &:not(:last-child)::after{
            content: ">";
            margin: 0 .5rem;
            color: $support-color;
        }
    }
    &-link{
        text-decoration: none;
        color: $support-color;
        font-size: 1.2rem;
        transition: color .3s;
        padding: 1rem;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        &:hover{
            color: darken($support-color, 10%);
        }
    }

    &-current{
        font-size: 1.2;
        font-weight: 700;
        color: lighten($brand-color,20%);
        transition: color .3s;
        &:hover{
            color: $brand-color;
        }
    }
}